{% extends 'admin/base.html' %}
{% block content %}
    <div class="chunk-content">
        <h2>Confirm Deletion</h2>
        <form method="post" class="inner-modal-content">
            {% csrf_token %}
            <p>
                Are you sure you want to delete this file and its chunked files?
            </p>
            <p>
                <span id="name"><strong>{{file}}</strong></span>
            </p>
            <button type="submit" class="danger">Delete</button>
            <button class="cancel"><a href="{% url 'files:dashboard' %}"
                    style="text-decoration: none; color:inherit;">Cancel</a>
            </button>
        </form>
    </div>
{% endblock content %}