<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/header.css'%}" />
    <link rel="stylesheet" href="{% static 'css/footer.css'%}" />
    <link rel="stylesheet" href="{% static 'css/index.css'%}" />

</head>

<body>
    <header class="navbar">
        <nav class="primary-navigation">

            <div class="navigation">
                <ul class="nav-link">
                  
                </ul>
            </div>
            <div class="header-action navigation">
                <a class="btn-link btn-login primary" href="">
                    Sign In
                </a>
                <a class="btn-link secondary" href="">
                    Sign Up
                </a>
            </div>
            <div class="mobile-nav">
                <ul class="">
                  
                </ul>
                <a class="btn-link btn-login primary" href="">
                    Sign In
                </a>
                <a class="btn-link secondary" href="">
                    Sign Up
                </a>
            </div>
            <button class="hamburger">
                <div class="bar"></div>
            </button>
        </nav>
    </header>
    {% block content%}
    {% endblock%}
    
    <script src="{% static 'js/nav.js'%}"></script>
</body>

</html>