<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <link rel="stylesheet" href="index.css" /> -->
    <link rel="stylesheet" href="{% static 'css/dashboard-modal.css'%}" />
    <link rel="stylesheet" href="{% static 'css/saved-files.css'%}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}" />
</head>

<body>
    <header class="top-nav">
        <div>
            <img src="{% static 'assets/icons/logo.svg'%}" alt="chuck it logo" class="logo" />
        </div>
      
        <form method="post" action="{% url 'files:search-file' %}" class="search">
            {% csrf_token %}
            <div style="display: flex; gap:10px">
                
                <input type="search"  name="keyword" placeholder="search for file here...">
                <button class="btn-upload" type="submit"> Search </button>
                    
            </div>
        
        </form>
        
        <div class="user" style="margin-top: -20px;">
            <small>{{user.email_address}}</small>
            <a href="{% url 'users:log-out' %}"><img src="{% static 'assets/icons/logout-icon.png'%}" alt=""
                    style="cursor: pointer;" /></a>
        </div>
    </header>
    <main>
        
        <section class="backdrop"></section>
        <nav class="nav-drawer">
            <div class="top">
                <img src="{% static 'assets/icons/menu.png'%}" alt="" class="hamburger" />
                <img src="{% static 'assets/icons/logo.svg'%}" alt="chunck it logo" class="logo" />
            </div>

            <ul class="navigation">
                <li class="active">
                    <a href="{% url 'files:user-dashboard' %}">
                        <img src="{% static 'assets/icons/Folder-filled.png'%}" alt="" />
                        <small>Library</small>
                    </a>
                </li>
                <li>
                    <a href="{% url 'files:user-account' %}">
                        <img src="{% static 'assets/icons/manage_accounts.png'%}" alt="" />
                        <small>Account</small>
                    </a>
                </li>
            </ul>

            <small class="copy-right"><strong>&copy; 2024, Inc</strong></small>
        </nav>
        
        {% if files %}
        <section class="saved-files">
            <table>
                <thead>
                    <tr>
                        <th scope="col">File Title</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Last Modified</th>
                        <th scope="col">download File</th>
                        <th scope="col">Email File</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                   
                    <tr>
                        <td>{{file.title}}</td>
                        <td>{{file.type}}</td>
                        <td>
                            <textarea style="border: none; resize: none;" rows="2" cols="40" readonly>{{ file.description }}</textarea>
                        </td>
                        <td>
                            <span class="date">{{file.created_at}}</span>
                        </td>
                       
                        <td>
                            <div>
                                <button class="btn-download">
                                    <a href="{% url 'files:download' file.id %}" ><img
                                            src="{% static 'assets/icons/file_download.png'%}" alt="" /></a>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div>
                                <button class="btn-delete">
                                    <a href="{% url 'files:send-file-via-email' file.id %}"><img style="width: 50%; height:50%"
                                            src="{% static 'assets/icons/send.png'%}" alt="" /></a>
                                </button>
                            </div>
                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% else %}
        <section class="page-content">
            <img src="{% static 'assets/images/image.png'%}" alt="download folder image" />
            <p>The library is empty.</p>
            <p>Login as Admin to upload file</p>
            <p>Email:admin@gmail.com</p>
            <p>password:123</p>
        </section>
        {% endif %}
    </main>
    

    <script src="{% static 'js/saved-files.js'%}"></script>
    <script src="{% static 'js/dashboard.js'%}"></script>
    
    <script>
        // Function to remove error messages after 5 seconds
        setTimeout(function() {
            var alertMessages = document.querySelectorAll('.alert');
            alertMessages.forEach(function(alert) {
                alert.remove();
            });
        }, 7000);
    </script>
</body>

</html>